# ignore files
*.zip

# ignore ALL files in these directories
AutoBackups/
1.0/B4J/Objects/
1.0/B4i/Objects/

# Include drawable for B4A
1.0/B4A/Objects/*
!1.0/B4A/Objects/res/

1.0/B4A/Objects/res/*
!1.0/B4A/Objects/res/drawable/